body {
    background-color: #f0ffff;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establecer la altura mínima del body al 100% de la ventana */
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1e4c1;
    padding: 20px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

header p {
    margin-left: 5vh;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img {
    height: 50%;
    width: 10%;
    display: flex;
    justify-content: left;
}

#bt2 {
    background-color: rgb(143, 224, 20);
    border-color: #008000;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    width: 100%;
    padding: 10px;
}

form div ::first-line {
    width: 100%;
}

form label {
    width: 60%;
    display: inline-block;
}

form div :nth-child(3) {
    width: 35%;
}

/* Estilos para el pie de página (footer) */
footer {
    background-color: rgb(163, 163, 163);
    width: 100%;
    height: 6vh;
    text-align: left;
    margin-top: auto; /* Colocar el footer al final de la página */
    flex-shrink: 0; /* Evitar que el footer se contraiga */
}

.fot {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* Estilos para los textos dentro del footer */
.fot p {
    margin-left: 1vh;
}
