body {
    background-color: #f0ffff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: scroll; /* Agregar una barra de desplazamiento vertical */
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1e4c1;
    padding: 20px;
    height: 100px;
}

header img {
    height: 80%;
    width: 40%;
    display: flex;
}


img {
    height: 20%;
    width: 10%;
    display: flex;
}


.orientacion {
    display: flex;
    flex-direction: row;
}


footer {
    background-color: rgb(163, 163, 163);
    position: end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    text-align: left;
}

/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 30vh;
    height: 3vh;
    margin-left: 110vh;
}

.search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
}



/* Estilos para el artículo, el nav y las propiedades */
article {
    display: flex;
    flex-direction: row;
}

nav {
    text-align: left;
    width: 20vh;
    display: flex;
    flex-direction: column;
    margin-right: 0; /* Elimina el margen derecho */
    padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
    background-color: #f9f9f9; /* Cambia el color de fondo según tus preferencias */
    border-radius: 5px; /* Agrega borde redondeado según tus preferencias */
}

nav p {
    font-weight: bold; /* Añade negrita al texto de encabezado si lo deseas */
    margin-top: 0; /* Elimina el margen superior del texto de encabezado si lo deseas */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 5px; /* Espacio entre elementos de lista */
}

.article2 {
    background-color: rgb(222, 221, 221);
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    justify-content: left

}

nav p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3px; /* Reducir el espacio inferior de los elementos <p> */
}


/* Estilos de las propiedades */
#property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.propietyCard {
    width: 300px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    position: relative; /* Agregado para posicionar el borde correctamente */
    overflow: hidden; /* Agregado para ocultar el desbordamiento del borde */
}

.propietyCard:hover {
    transform: scale(1.1);
}

.propietyCard img {
    max-width: 80%;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    border: 10px solid #000000; /* Borde negro cuadrado */
    border-radius: 2vh; /* Ajusta según tus necesidades */
}

.propietyCardUnknown, #estado-1{
    border: 6px #000000;
    color: #000000;
    border-radius: 30px;
    border-style: ridge;
    font-size: 20px;
    background: linear-gradient(to bottom right, rgb(96, 96, 198), pink);
  }
  
.propietyCard h3 {
    margin-top: 0;
}

.propietyCard p {
    margin-bottom: 10px;
}

footer{
    background-color: rgb(163, 163, 163);
    display: flex;
    align-items: end;
    bottom: 0;
    left: 0;
    top:0%;
    width: 100%;
    height: 10vh;
    text-align: left;
}

footer p{
    margin-top: 0%;
}

/* Estilos para la barra de desplazamiento vertical */
.content {
    width: 300px; /* Ancho del contenedor de contenido */
    height: 300px; /* Altura del contenedor de contenido */
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}

/* Personaliza la apariencia de la barra de desplazamiento */
.content::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del dedo (scrollbar thumb) */
    border-radius: 6px; /* Bordes redondeados del dedo */
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cambia el color del dedo al pasar el mouse sobre él */
}


/*Contenedores de la modal*/
.modal-content {
    background-color: #fefefe;
    border: 4px #cccaca;
    border-style: ridge;
    border-radius: 30px;
    margin: 15% 30%;
    padding: 50px;
    height: 800px;
    max-width: 600px;
    text-align: center;
    background-color: #acdcda;
    background-position: bottom;
    background-size: cover;
  
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  #tramite-Btn, #Visitar-Btn{
    background: linear-gradient(to bottom, #7bbacca1, #75b3aaa1);
    border: 3px #acdcda;
    border-radius: 50px;
    border-style: ridge;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    height: 50px;
    width: 40%;
  }
  
  
  
  
  @media (min-width: 480px) {
    header img {
        height: 40px;
        width: 50px;
    }

    img {
        height: 15%;
        width: 8%;
    }

    .search-bar {
        margin-left: auto;
        margin-right: 10px;
        width: auto;
    }

    nav {
        margin-top: 0;
    }

    .propietyCard {
        width: 45%;
    }
}