body{
    background-color: #f0ffff;
    margin: 0;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

html, body {
    margin: 0;
    padding: 0;
}


header{
    background-color: #f1e4c1;
    padding: 20px;
    height: 100px;  
    width: calc(100% - 40px);
}

header p {
    margin-left: 5vh;
}


img{
    height: 35%;
    width: 15%;
   display: flex;
}

#bt2{
background-color: rgb(143, 224, 20);
border-color: #008000;
border-radius: 5px;

}


form{
    display: flex;
    flex-direction: column;
    
}

form label {
    width:100%;
    padding: 1vh;
}

form label ::first-line {
    width:100%;
}

form label {
    width: 95%;
    display: inline-block;
}

form div :nth-child(2){
    width: 35%;
}

footer{
    background-color: rgb(163, 163, 163);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    form {
        max-width: 100%;
    }

    label {
        width: 100%;
    }

    form div :nth-child(2) {
        width: 100%;
    }

    footer {
        display: flex;
        align-items: end;
    }
}