body {
    background-color: #f0ffff;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%; /* Establecer la altura del body al 100% de la ventana */
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1e4c1;
    padding: 20px;
    height: 10vh;
    width: 100%;
    display: flex;
    
}

    header p {
        margin-left: 5vh; /* Ajusta el margen izquierdo según tus preferencias */
    }

img {
    height: 50%;
    width: 10%;
    display: flex;
    justify-content: left;
}



#bt2 {
    background-color: rgb(143, 224, 20);
    border-color: #008000;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    width: 100%;
    padding: 10px;
}

form div ::first-line {
    width: 100%;
}

form label {
    width: 60%;
    display: inline-block;
}

form div :nth-child(3) {
    width: 35%;
}

footer {
    background-color: rgb(163, 163, 163);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vw;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header img {
        height: 30%;
    }

    form label {
        width: 100%;
    }

    form div :nth-child(3) {
        width: 100%;
        margin-top: 10px;
    }

    footer{
        height: 4vw;
    }

}