/* Estilos generales */
body {
    background-color: #f0ffff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establecer el alto mínimo para ocupar toda la pantalla */
}

html, body {
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado (header) */
header {
    background-color: #f1e4c1;
    padding: 20px;
    height: 100px;
}

header p {
    margin-left: 5vh;
}

.orientacion {
    display: flex;
    flex-direction: row;
}

img {
    height: 20%;
    width: 10%;
    display: flex;
}

article{
    display: flex;
    flex-direction: row;
    padding: 5vh;
}




.sectioninfo{
    background-color: #f1e4c1;
    flex: 1;
}


/* Estilos para la sección de la imagen */
.sectionimg {
    background-color: aqua;
    flex: 1;
    display: flex; /* Agregamos esto para que los elementos dentro de sectionimg se ajusten al tamaño del contenedor */
    justify-content: center; /* Centramos verticalmente la imagen */
    align-items: center; /* Centramos horizontalmente la imagen */
}

/* Estilos para la imagen dentro de sectionimg */
.sectionimg img {
    width: 100%;
    height: 100%;
}


#bt2 {
    background-color: rgb(143, 224, 20);
    border-color: #008000;
    border-radius: 5px;
}

/* Estilos para el pie de página (footer) */
footer {
    background-color: rgb(163, 163, 163);
    width: 100%;
    height: 6vh;
    text-align: left;
    margin-top: auto; /* Colocar el footer al final de la página */
}

.fot {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* Estilos para los textos dentro del footer */
.fot p {
    margin-left: 1vh; /* Ajusta el margen izquierdo según tus preferencias */
}

/* Barra de desplazamiento */
.content {
    width: 300px; /* Ancho del contenedor de contenido */
    height: 300px; /* Altura del contenedor de contenido */
    overflow: scroll; /* Agrega una barra de desplazamiento vertical y horizontal siempre */
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento en Firefox */
    scrollbar-color: #888 #f0ffff; /* Color de la barra de desplazamiento en Firefox */
}

/* Personaliza la apariencia de la barra de desplazamiento en Chrome y otros navegadores WebKit */
.content::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del dedo (scrollbar thumb) */
    border-radius: 6px; /* Bordes redondeados del dedo */
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cambia el color del dedo al pasar el mouse sobre él */
}


/*estilos de info*/

.propiedad {
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 1vh;
    border-color: rgb(0, 0, 0);
    margin-left: 5vh;
    height: auto;
    width: 40vh;
    text-align: left;
}

.gray{
    color: #888;
  }